header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          img(src="/admin/img/logostu.jpg", alt="Logo Khoa", style="height:40px; margin-right:20px;")
          a(href="/giangvien/dashboard") 

      div(class="col-9 text-right")
        //- a(
        //-   href=`/${prefixAdmin}/profile`
        //-   class="btn btn-info btn-sm"
        //- ) #{account.fullName}
        a(
          href=`/logout`
          class="btn btn-danger btn-sm ml-2"
        ) Đăng xuất