.sider
  .inner-menu
    ul 
      li
        a(href=`/giangvien/dashboard`) Tổng quan
      li 
        a(href=`/giangvien/sinhvien`) Quản lý sinh viên
      li 
        a(href=`/giangvien/detai`) Quản lý đề tài
      li 
        a(href=`/giangvien/danhgiagk`) Đánh giá giữa kỳ
      li 
        a(href=`/giangvien/diemhuongdan`) Nhập điểm hướng dẫn
      li 
        a(href=`/giangvien/diemphanbien`) Danh sách phản biện
      li 
        a(href=`/giangvien/diemhoidong`) Nhập điểm hội đồng