.sider
  .inner-menu
    ul 
      li
        a(href=`/giangvien/dashboard`) Tổng quan
      li 
        a(href=`/giangvien/sinhvien`) Quản lý sinh viên
      li 
        a(href=`/giangvien/detai`) Quản lý đề tài
      li 
        a(href=`/giangvien/danhgiagk`) Đánh giá giữa kỳ