mixin alert-success(time, messages)
  if messages && messages.success
    div.alert.alert-success.show-alert(data-time=time)= messages.success

mixin alert-error(time, messages)
  if messages && messages.error
    div.alert.alert-danger.show-alert(data-time=time)= messages.error
