mixin alert-success(time, messages)
  - if (messages && messages.success)
    div.alert.alert-success.show-alert(show-alert=time) #{messages.success}

mixin alert-error(time, messages)
  - if (messages && messages.error)
    div.alert.alert-danger.show-alert(show-alert=time) #{messages.error}